.footer{
    height: 420px;
    position: relative;
    background-color:$color-black;

    @include breakpoint(xs) {
        height: 850px;
        .row{
            height: 258px!important;
            .col-6{
                display:block!important;
                flex-basis: 100%!important;
                max-width: 100%!important;
            }
            .footer_content_1{
                padding:20px 0 20px 10px!important;
                height: 150px;
            }
        }

        }
    .row{
        width:100%;
        margin:0;
        height: 180px;
        .col-6:first-child{
            p:first-child{
                font-size:12px;
            }
            color:$color-text;
            padding-left:30px;

        .footer__form{
            .form-email{
            .email{
                width: 450px;
                @include breakpoint(xs) {
                    width:180px;
                }
                background-color:$color-black-form;
                border:1px solid $color-black-form;
                color:$color-white;
                height: 38px;
                &::placeholder{
                    font-size:22px;
                    color:#fff;
                    font-family: "Daimler CAC";
                }
            }
            .btn-dark{
                display: inline;
                height:38px;
                color:$color-text;
                &:hover{
                color:#00adef;
                }
            }
        }
        .form-check{
            @include breakpoint(xs) {
                margin: 10px 0;
                padding:0!important;
            }
          .form-check-label{
              font-size:12px;
          }
          input{
              border-radius: 0%;
              color:$color-text;
                background-color:$color-black-form!important;
            }
        }     
    }    
}  
        .col-6:last-child{
            @include breakpoint(xs) {
                padding:0;
                .detail{
                    p{
                        padding-left:10px!important;
                    }
                }
            }
            .detail{
                p{
                    font-size:12px;
                    padding-left:24px;
                    color:$color-text;
                }
                display: block;
            }
        }
        .social-media{
            @include breakpoint(xs) {
                display:none!important;
            }
            color:$color-text;
            cursor: pointer;
           font-size:25px;
        }
        .social-media-responsive{
            display: none;
            @include breakpoint(xs) {
                display:block!important;
                font-size:22px;
                width:95%;
                .fab{
                    color:$color-text;
                    margin: 11px 25px;
                    @include breakpoint(xs) {
                    }
                }
            }
        }
}
.link-line{
    height: 1px;
    position: absolute;
    top:47%;
    width: 100%;
    background-color:rgba(169, 165, 165, 0.4);
    @include breakpoint(xs) {
        top:50%!important;
    }
    @include breakpoint(xss) {
        top:41%!important;
    }
}
.footer-partner{
    @include breakpoint(xs) {
        display:none!important;
    }
    height: 150px;
    .img{
        width:200px;
    }
}

.footer-partner-responsive{
    display:none;
    @include breakpoint(xs) {
        z-index: 114;
        display: flex !important;
        height: 300px;
        flex-direction: column;
        position: relative;
        top: 21%;
    .img{
        width:200px;
        margin:22px 0;
        transform:translateX(38%);
        @include breakpoint(xss) {
            transform:translateX(130%);
        }
        @include breakpoint(pixel) {
            transform:translateX(50%);
        }
    }
}}
.footer-term{
    height: 90px;
    .topbutton-responsive{
        display: none!important;
    }
    @include breakpoint(xs) {
        .topbutton-responsive{
            display: block!important;
        }
        height: 200px!important;
        display: block;
        position: relative;
        z-index: 105;
        top: 14%;
        margin-bottom:30px!important;
        .text-hover{
            margin: 0px 10px;
            margin-bottom: -3px;
        }
        .col-md-5{
            @include breakpoint(xss) {
               max-width: 100%!important;
            }
            a{
                font-size:14px;
                text-align: center;
            }
            a:first-child{
                display:block;
            }
            a:last-child{
                color:$color-white;
                border-left:1px solid $color-text;
                padding-left:40px;
                position: relative;
                transform:translateX(40%);
                left:50%;
            }
        }
        .col-md-7{
            a:nth-child(4){
               display:block!important; 
            }
            a:nth-child(10){
                @include breakpoint(xs) {
                  display:none!important;
                }
            }
        }
    }
    .text-hover{
        font-size:13px;
        color:$color-text;
        text-decoration: none;
        &:hover{
            color:#00adef;
            }
    }
    .col-5{
        a:first-child{
            &::after{
                background: #636363;
                content: "";
                display: inline-block;
                height: 11px;
                margin-left: 13px;
                margin-right: 13px;
                position: relative;
                top: 1px;
                width: 1px;
            }
        }
        .text-hover{   
            font-size:16px;
        }
        .active{
            color:$color-white;
            &:hover{
                color:$color-white;
            }
        }

    }
    .col-7{
        position: relative;
        a{
            padding:0 10px;
        }
        .topbutton{
            position: absolute!important;
            right:0%;
        }
    }

}
}