.link {
    .link-header{
        display: none;
    }
    @include breakpoint(xs) {
        height: 1300px!important;
        @include breakpoint(xss) {
            height: 630px!important;
        }
        .col-md-3{
            @include breakpoint(xss) {
               .first-text{
                   font-size:27px;
               }
            }
            width: 100%;
            ul{
                transform:translateX(0%)!important;
                width: 100%!important;
                padding-left:10px;
            }
            .link-header{
                display: block!important;
                height: 150px;
                border-bottom:0.75px solid $color-text;
                margin-bottom:22px;
            }
        }
        .col-md-3:last-child{
            margin-bottom:0px;
        }
        .stay-informed{
            margin-bottom: 0!important;
        }
    }
    height: 450px;
    position: relative;
    background-color: $color-black;

    .link__content {
        width: 97%;
        margin: 0 auto;

        ul {
            transform: translateX(-10%);

            li {
                color: $color-text;
                font-size: 13px;
                list-style-type: none;
            }
        }
    }

    .link-footer {
        margin-left: 14px;
        font-size: 28px;
    }

    .link-line {
        @include breakpoint(xss) {
            top:75%;
        }
        height: 1px;
        position: absolute;
        top: 97%;
        width: 100%;
        background-color: rgba(169, 165, 165, 0.4);
    }
}